<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Poll Admin | Log in</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.2 -->
    <link href="{{url_for('static', filename='/bootstrap/css/bootstrap.min.css')}}"  rel="stylesheet" type="text/css" />
    <!-- Font Awesome Icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="{{url_for('static', filename='/dist/css/AdminLTE.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- iCheck -->
    <link href="{{url_for('static', filename='/plugins/iCheck/square/blue.css')}}" rel="stylesheet" type="text/css" />
  
  
  <style>
    .row11 {
      margin-right: -15px;
      margin-left: 140px;
  }
  </style>
  </head>
  <body class="login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="/index"><b>ADMIN LOGIN</b></a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p style="    text-align: center;
        color: red;
        font-size: 20px;" >{{message}}</p>
        <p class="login-box-msg">Sign in</p>
        
        <form action="/index" method="post">
          <div class="form-group has-feedback">
            <input type="text" class="form-control" name="name" placeholder="Email/Username"/>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" name="password" placeholder="Password"/>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row11">
            <div class="col-xs-8">    

                <a href="/forgot_password">
                  Forgot Password
                </a>
              </div>                        
            </div>
          <div class="row">
            <div class="col-xs-8">    
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox"> Remember Me
                </label>
              </div>                        
            </div><!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</a>
            </div><!-- /.col -->
          </div>
        </form>

        <a href="/registration" class="text-center">Register</a>

      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

    <!-- jQuery 2.1.3 -->
    <script src="{{url_for('static', filename='/plugins/jQuery/jQuery-2.1.3.min.js')}}"></script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="{{url_for('static', filename='/bootstrap/js/bootstrap.min.js')}}" type="text/javascript"></script>
    <!-- iCheck -->
    <script src="{{url_for('static', filename='/plugins/iCheck/icheck.min.js')}}" type="text/javascript"></script>
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>
  </body>
</html>