<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> POLL | Dashboard</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.2 -->
    <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- Morris chart -->
    <!-- <link href="plugins/morris/morris.css" rel="stylesheet" type="text/css" /> -->
    <!-- Daterange picker -->
    <link href="{{url_for('static', filename='plugins/daterangepicker/daterangepicker-bs3.css')}}" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="{{url_for('static', filename='dist/css/AdminLTE.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins 
         folder instead of downloading all of them to reduce the load. -->
    <link href="{{url_for('static', filename='dist/css/skins/_all-skins.min.css')}}" rel="stylesheet" type="text/css" />
  </head>
  <body class="skin-blue">
    <div class="wrapper">
      
      <header class="main-header">
        <!-- Logo -->
        <a href="/index" class="logo"><b>Polling System</b></a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="{{url_for('static', filename='dist/img/profile.jpeg')}}" class="user-image" alt="User Image"/>
                  <span class="hidden-xs">Admin</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="{{url_for('static', filename='dist/img/profile.jpeg')}}" class="img-circle" alt="User Image" />
                    <p>
                      Admin
                      <small>priyanka</small>
                    </p>
                  </li>
                  <!-- Menu Body/Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="/login" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="{{url_for('static', filename='dist/img/profile.jpeg')}}" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
              <p>Priyanka</p>

            </div>
          </div>
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MAIN MENU</li>
            <li><a href="/index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li><a href="/poll"><i class="fa fa-edit"></i> Start Poll</a></li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Right side column. Contains the navbar and content of the page -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            File Uploaded Successfully
            
            <h2>Automatic Mails are {{ result }}</h2>
            
          </h1>
        </section>

        <!-- Main content -->
        <!-- <section class="content">
          <div class="row">
            <!-- left column 
            <div class="col-md-6">
              <!-- general form elements 
              <div class="box box-primary">
                <div class="box-header">
                  <h3 class="box-title">Upload CSV File</h3>
                </div>
                
                <!-- <form role="form" action="/upload" method="post" enctype="multipart/form-data">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="exampleInputFile">File input</label>
                      <input type="file" type="file" name="filename" id="exampleInputFile">
                      <p class="help-block">CSV file must contains email ids of each user.</p>
                    </div>
                  </div>

                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>

            </div>
          </div>  
        </section> -->
      </div>
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
        </div>
        <strong> <a href="http://priyanka.com">http://priyanka.com</a> Priyanka.</strong>
      </footer>

    </div><!-- ./wrapper -->

    <!-- jQuery 2.1.3 -->
    <script src="{{url_for('static', filename='plugins/jQuery/jQuery-2.1.3.min.js')}}"></script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}" type="text/javascript"></script>
    <!-- FastClick -->
    <script src="{{url_for('static', filename='plugins/fastclick/fastclick.min.js')}}"></script>
    <!-- AdminLTE App -->
    <script src="{{url_for('static', filename='dist/js/app.min.js')}}" type="text/javascript"></script>
    <!-- AdminLTE for demo purposes -->
    <!-- <script src="dist/js/demo.js" type="text/javascript"></script> -->
  </body>
</html>
